<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/siderbar' %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <%= yield %>
          </main>
      </div>
    </div>
   
  </body>
</html>
